.login-card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.form-label {
  font-weight: bold;
  color: #555555;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 16px;
}

.form-text {
  font-size: 14px;
  color: #888888;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  font-size: 16px;
  color: #ffffff;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}
